@layer components {
  .btn {
    @apply inline-flex 
		items-center 
		justify-center 
		cursor-pointer 
		px-6 
		py-2 
		h-12
		text-base 
		lg:text-lg 
		text-center 
		!leading-none 
		font-normal 
		no-underline 
		select-none 
		border 
		border-solid 
		transition 
		ease-in-out 
		duration-500
		rounded-sm 
		focus:outline-none 
		focus:ring 
		focus:ring-offset-1 
		disabled:cursor-not-allowed;
  }

  .btn-primary {
    @apply bg-primary 
    text-white 
    border-primary 
    hover:bg-transparent
    hover:text-primary 
    hover:border-primary/75
    focus:bg-transparent
    focus:text-primary 
    focus:border-primary/75
    focus:ring-primary/75
    active:bg-transparent 
    active:border-primary/50;
  }

  .btn-block {
    @apply block w-full;
  }
}
