@layer base {
  html,
  body {
    @apply h-full w-full;
  }

  body {
    @apply min-w-[320px] font-normal antialiased text-base relative;
  }

  p {
    @apply mb-4;
  }

  a {
    @apply text-primary no-underline transition-all hover:text-primary/50 focus:text-primary/50;
  }

  picture {
    @apply block;
  }

  html.light a {
    @apply !text-black
    hover:!text-primary;
  }

  .toggle-btn {
    @apply bg-black/5 
    border 
    border-white/60 
    text-white 
    hover:text-primary 
    rounded-full 
    size-6 flex 
    justify-center 
    items-center 
    cursor-pointer 
    hover:bg-white 
    focus:bg-white 
    focus:text-black 
    transition-all 
    duration-300 
    relative;
  }

  html.light #achivements {
    @apply text-white;
  }

  html.light #education .educard {
    @apply !bg-black/20;
  }
  html.light #ourProjects .projectCard {
    @apply !bg-black/20 text-black;
  }
  html.light #ourProjects .projectCard a {
    @apply !text-primary;
  }
  html.light #aboutMe .aboutFeatureImg {
    @apply before:!bg-black/30;
  }
  html.light #aboutMe .aboutContent small,
  html.light #aboutMe .aboutContent .percentage {
    @apply !text-black;
  }
  html.light #aboutMe .lineBg {
    @apply !bg-black/30;
  }
  html.dark .header .white-logo img{
    @apply 
    block;
  }
  html.light .header .black-logo img{
    @apply 
    block;
  }
  html.light .header .white-logo img{
    @apply 
    hidden;
  }
  html.dark .header .black-logo img{
    @apply 
    hidden;
  }
}
