.accordion-title {
  @apply font-bold
  cursor-pointer
 text-black
 flex
 items-center
 justify-between;
}
.accordion-title strong{
  @apply
  flex-1;
}

.accordion-item {
  @apply bg-white 
rounded-lg
shadow-[0px_0px_7px_0_rgba(0,191,165,0.2)]
py-4 
pl-11 
pr-5
mb-5;
}

.icon {
  @apply bg-white
 border
 border-[var(--primary)]
 size-10
 text-[var(--primary)]
 rounded-full
 transition-all
 duration-300
 hover:bg-[var(--primary)]
 hover:text-white
 focus:bg-[var(--primary)]
 focus:text-white
 flex
 justify-center
 items-center;
}
