@layer components {
  .btn {
    @apply inline-flex 
		items-center 
		justify-center 
		cursor-pointer 
		px-6 
		py-2 
		h-14
		text-base 
		lg:text-lg 
		text-center 
		!leading-none 
		font-bold 
		no-underline 
		select-none 
		border 
		border-solid 
		transition 
		ease-in-out 
		duration-500
		rounded-sm 
		focus:outline-none 
		focus:ring-2 
		focus:ring-offset-1 
		disabled:cursor-not-allowed;
  }

  .btn-secondary {
    @apply bg-[var(--secondary)] 
    text-white 
    border-[var(--secondary)] 
    hover:bg-white
    hover:text-[var(--secondary)]  
    hover:border-[var(--secondary)]
    focus:bg-white
    focus:text-[var(--secondary)] 
    focus:border-[var(--secondary)]/50 
    focus:ring-[var(--secondary)]
    active:bg-white  
    active:border-[var(--secondary)];
  }
  .btn-primary {
    @apply bg-[var(--green)] 
    text-[var(--secondary)] 
    border-[var(--primary)] 
    hover:bg-white
    hover:text-[var(--secondary)]  
    hover:border-white/75
    focus:bg-white
    focus:text-[var(--secondary)]  
    focus:border-[var(--green)] 
    focus:ring-[var(--green)]
    active:bg-white 
    active:border-[var(--primary)];
  }
  .btn-white {
    @apply bg-white
    text-[var(--secondary)] 
    border-white
    hover:bg-[var(--primary)]
    hover:text-white 
    hover:border-[var(--primary)] 
    focus:bg-[var(--primary)]
    focus:text-white 
    focus:border-white/75
    focus:ring-[var(--primary)]
    active:bg-[var(--primary)] 
    active:border-[var(--primary)]/50;
  }
  .btn-outline {
    @apply bg-transparent
    text-[var(--secondary)] 
    border-[var(--secondary)]
    hover:bg-[var(--secondary)]
    hover:text-white 
    hover:border-[var(--secondary)] 
    focus:bg-[var(--secondary)]
    focus:text-white 
    focus:border-white/75
    focus:ring-[var(--secondary)]
    active:bg-[var(--secondary)] 
    active:border-[var(--secondary)]/50;
  }
  .btn-block {
    @apply block w-full;
  }
  .icon-heart {
    @apply relative 
    border-[var(--primary)] 
    border 
    inline-flex 
    justify-center 
    items-center 
    size-7 
    rounded-full  
    hover:bg-[var(--primary)] 
    focus:border-[var(--primary)] 
    focus:bg-[var(--primary)] 
    hover:border-[var(--primary)] 
    transition-all 
    duration-300;
  }
}
