.form {
  @apply flex
 -mx-3
 flex-wrap;
}

.form-group {
  @apply mb-5
 w-full
 lg:w-1/2
 px-3;
}

.form-control {
  @apply border
 border-primary/20
 h-12
 py-2
 px-5 
 focus-visible:outline-0
 text-gray
 text-sm
 placeholder:font-bold
 focus-within:border-primary
 transition-all
 duration-300
 w-full;
}

select.form-control {
  @apply appearance-none
 bg-[url('../assets/images/dropdown-icon.png')]
 bg-no-repeat
 bg-[right_10px_center]
 bg-auto;
}

select.form-control {
  @apply cursor-pointer;
}
select.form-control option {
  @apply bg-blue-200/50
  text-secondary
  border-2
  border-blue-200/50
  !rounded-2xl
 !cursor-pointer;
}

textarea.form-control {
  @apply !h-16;
}

.membership-form .form-control {
  @apply placeholder:text-black/70
placeholder:font-medium
transition-all
duration-300
focus-within:border-primary
font-medium
text-black;
}

.membership-form select.form-control{
  @apply
  text-black/70
}

/* Error */

.error {
  @apply text-red text-xs pt-3;
}

.error-message {
  @apply text-red-700
 text-sm
 pt-2
 pl-7
 hidden;
}

.error .error-message {
  @apply block;
}
