.swiper-pagination {
  @apply pt-5
 !static;
}

.slider .swiper-pagination-bullet {
  @apply bg-sky-blue-100
size-3
transition-all
duration-500;
}

.slider .swiper-pagination-bullet-active {
  @apply w-14
 rounded-2xl;
}

.clinic-slider .swiper-button-next,
.clinic-slider .swiper-button-prev {
  @apply !static
!flex;
}
.custom-prev,
.custom-next {
  @apply bg-secondary
    text-white 
    w-10 
    h-10 
    flex 
    items-center 
    justify-center 
    rounded-full 
    z-1 
    cursor-pointer
    hover:bg-transparent
    focus:bg-transparent
    active:bg-transparent
    border
    border-secondary
    transition-all
    duration-300
    hover:text-secondary
    focus:text-secondary
    active:text-secondary;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
