@import "tailwindcss";

@import "../styles/typography.css";
@import "../styles/buttons.css";
@import "../styles/main.css";
@import "../styles/nav.css";
@import "../styles/hero.css";
@import "../styles/header.css";
@import "../styles/extra.css";
@import "../styles/card.css";

:root {
  font-family: var(--font-ubuntu);
}

@theme inline {
  --color-primary: #ff7601;
  --color-secondary: #00809d;
  --color-red: #ff0000;
  --color-gray: #959595;
  --color-gray-100: #1b1b1b;
}

body {
  @apply bg-[var(--background)]
  text-[var(--foreground)];
}

/* Container Styles */
.container {
  @apply container mx-auto px-5;
}
