@import "tailwindcss";
@import "../assets/css/main.css";
@import "../assets/css/typography.css";
@import "../assets/css/button.css";
@import "../assets/css/extra.css";
@import "../assets/css/slider.css";
@import "../assets/css/accordion.css";
@import "../assets/css/form.css";
@import "../assets/css/footer.css";
@import "../assets/css/table.css";

:root {
  --background: #ffffff;
  --foreground: #545454;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito: var(--font-nunito-sans);
  --font-poppins: var(--font-poppins);
  --color-green: #d0df56;
  --color-sky-blue-100: #7ce7f9;
  --color-yellow-150: #d0df56;
  --color-primary: #00bfa5;
  --color-secondary: #073763;
  --color-secondary-100: #01213d;
  --color-yellow: #ffa500;
  /* --yellow-100: #D0DF56; */
  --color-blue: #2f80ed;
  --color-blue-100: #0176c1;
  --color-sky-blue: #56ccf2;
  /* --color-sky-blue-100: #7ce7f9; */
  --color-red: #ff0000;
  --color-violet: #d12f82;
  --color-gray: #545454;
  --color-dark: #545454;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    /* --foreground: #545454; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Nunito;
}
