@import "tailwindcss";
@import "../assets/css/main.css";
@import "../assets/css/typography.css";
@import "../assets/css/button.css";

:root {
  --background: #ffffff;
  --foreground: #545454;
  --primary: #00BFA5;
  --secondary: #073763;
  --green: #D0DF56;
  --yellow: #FFA500;
  --blue: #2F80ED;
  --sky-blue: #56CCF2;
  --red: #C10101;
  --violet: #D12F82;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito: var(--font-nunito-sans);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #545454;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Nunito;
}
