.swiper-pagination{
 @apply
 -bottom-10;
}

.card-swiper .swiper-pagination{
 @apply
 !static
 mt-5
}

.swiper-pagination .swiper-pagination-bullet{
 @apply
 bg-primary
 transition-all
 duration-500;
}

.swiper-pagination .swiper-pagination-bullet-active{
 @apply
 rounded-md
w-10;
}

.hero-swiper{
 @apply
 relative
 overflow-hidden
 before:absolute
 before:inset-0
 before:transition-all
 before:duration-300
 before:rounded-2xl
 lg:hover:before:bg-black/70
 max-lg:before:bg-black/40
 before:z-10
 cursor-pointer;
}

.cta-wrapper{
 @apply
 transition-all
 duration-300
 absolute
 max-lg:top-1/2
 left-1/2
 max-lg:-translate-y-1/2
 max-lg:-translate-x-1/2
 lg:-translate-x-1/2
 /* -bottom-full */
 /* -translate-y-1/2 */
 z-10
}

.card-swiper .swiper-button-next,
.card-swiper .swiper-button-prev{
 @apply
 bg-green
   border
 border-green
   transition-all
   duration-300
   size-10
   flex
   justify-center
   items-center
   rounded-full
   hover:bg-transparent
}

.card-swiper .swiper-button-next svg,
.card-swiper .swiper-button-prev svg{
  @apply
  w-4
  h-4;
}

.card-swiper .swiper-button-next svg path,
.card-swiper .swiper-button-prev svg path{
  @apply
    transition-all
    duration-300
  fill-white
}
.card-swiper .swiper-button-next:hover svg path,
.card-swiper .swiper-button-prev:hover svg path,
.card-swiper .swiper-button-next:focus svg path,
.card-swiper .swiper-button-prev:focus svg path{
  @apply
  fill-green
}

.card-swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  @apply
  bg-primary
  rounded-full!;
}

.card-swiper .swiper-pagination.swiper-pagination-progressbar{
  @apply
rounded-full!;
}