.nav a,
.mobile-menu a{
@apply
font-medium
text-base 
transition-all 
duration-300
relative
hover:text-[var(--orange)]/80
before:absolute
before:bg-[var(--orange)]
before:rounded-full
before:w-0
before:-bottom-1
before:left-0
before:right-0
hover:before:w-10/12
before:h-[2px]
before:transition-all 
before:duration-300;
}

.sticky .header{
 @apply
 bg-black/30
 shadow
 backdrop-blur-[100px]
 transition-all
 duration-500
}

.hambBurger{
@apply
flex flex-col
cursor-pointer
lg:hidden
}

.hambBurger span{
@apply
w-8
h-[3px]
bg-white
rounded-xl
last:w-6
first:w-5
transition-all
duration-300
block
not-last:mb-1
}

.nav{
 @apply
hidden
 lg:block
 transition-all
 duration-300
}
.mobile-menu{
 @apply
 h-lvh
 w-full
 bg-[var(--primary)]
 absolute
left-0
right-0
top-0
pt-5
translate-y-full
transition-all
duration-300
}

.active .mobile-menu{
@apply
translate-y-0
z-10
text-white
}

.active .nav ul{
 @apply
 justify-center
 flex-col
 items-center
}

.active .hambBurger span{
 @apply
 block
 w-8
 even:hidden
 first:rotate-45
 last:-rotate-45
 first:translate-[1px]
 not-last:mb-0
}

body.active{
 @apply
 overflow-hidden
}